extends ./layouts/default.pug

block content
  .content-container
    .row
      .twelve.columns#proj-header 
        h1 .PROJECTS
        hr
    - for(var i = projects.length-1; i >= 0; i--)
        .proj-slide-left
          .row
            .twelve.columns.proj-title
              h2= projects[i].title
          .row.proj-content
            .one.columns
            .six.columns
              div(class='proj-desc')
                .row
                  .twelve.columns.proj-what
                    h3 WHAT
                    - for(var j = 0; j < projects[i].what.length; j++)
                        - if(projects[i].what[j] !== '')
                            p= projects[i].what[j]
                .row
                  .twelve.columns.proj-why
                    h3 WHY
                    p= projects[i].why
                .row
                  .twelve.columns.proj-where
                    h3 WHEN / WHERE
                    p= projects[i].where
            .four.columns.cell-align
              img(id='proj-one-image' src=projects[i].image)
            .one.columns
          .row
            .twelve.columns.proj-links
              - if(projects[i].links[0] !== undefined & projects[i].links[0] !== null)
                  h4 LINKS
                  p
                    - for(var j = 0; j < projects[i].links.length; j++)
                        - if(projects[i].links[j].link !== '')
                            - if(j !== 0) 
                                |  | 
                            a(href=projects[i].links[j].link)= projects[i].links[j].name
        hr